<template>
    <div class="search-container">
        <p>Search</p>
        <input size="20" v-model="search" v-on:keyup.enter="doSearch" />
    </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";
import { getState, updateState } from "../shared/stateLocalStorage";

const STORAGE_KEY = "Ufe5-ClvSearch";

const DEFAULT_STATE: State = {
    search: "qwer",
};

const search = ref("");

onMounted(async () => {
    const state = getState<State>(STORAGE_KEY, DEFAULT_STATE);
    search.value = state.search;
});

function doSearch() {
    window.location.href = `/?search=${search.value}`;
    updateState<State>(STORAGE_KEY, DEFAULT_STATE, { search: search.value });
}

interface State {
    search: string,
}

</script>

<style>
.search-container {
    text-align: center;
    color: #ff00ff;
}
</style>
