<script setup lang="ts">
import ClvText from './components/ClvText.vue';
import ClvSearch from './components/ClvSearch.vue';
import ClvMenu from './components/ClvMenu.vue';
</script>

<template>
  <div>
    <clv-menu />
    <clv-text prefix="Sample:">Some text</clv-text>
    <clv-search />
  </div>
</template>
